@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <style type="text/css">
        body {
            padding-top: 5rem;
        }

        .btn a {
            color: white;
            text-decoration: none;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

</head>
<body>
    <main role="main">



        <div class="container">

        </div>

    </main>
</body>
</html>
