@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table border="1">
    <tr>
        @for (int i = 0; i < 10; i++)
    {
        <td> ID @i</td>
    }
    </tr>
<tr>
    @for (int i = 0; i < 10; i++)
    {
        <td>Surname № @i</td>
    }
</tr>
<tr>
    @for (int i = 0; i < 10; i++)
    {

        <td> Just field @i </td>

    }
</tr>
<tr>
    @for (int i = 0;i<10;i++)
    {
        <td>More field @i </td>
    }
</tr>
    </table>


<form  style="border:solid black 1px;width:260px; margin-top:10px; padding-top:10px">
    Currencies list
    <select>
        <option value="1">EU</option>
        <option value="2">RUB</option>
        <option value="3">BYR</option>
        <option value="4">UAH</option>
        <option value="5">TG</option>
    </select><br />
    <div>Input your phone number and desribe your problem</div>
    <textarea> </textarea>
    <input type="button"value="Send" />
</form>
<p>Сайт банка</p>
