@{
    ViewData["Title"] = "Journal";
}
<div style="border:solid black 2px; margin-top:5px; padding-top:20px; padding-bottom:20px; ">
    <h2 align="center">@ViewData["Title"]</h2>
    <h3 align="center">@ViewData["Message"]</h3>
    <div align="center">
        <img src="~/images/641522534013585731.jpg" style="height:200px; width:400px;" />
    </div>
    <h2 align="center">Rent Journal</h2>
    <form align="center" method="post" name="AllConsumptions" action="">
        <label>Member name: </label>
        <input type="text" name="MemberName" />
        <label>Surname: </label>
        <select>
            <option value="1">Vektor A. B.</option>
            <option value="2">Mukhin A. P.</option>
            <option value="3">Samover N. C.</option>
            <option value="4">Anelkin A.A.</option>
        </select>
        <input type="submit" value="OK" />
        <table align="center" border="1">
            <tr>
                <th width="50px">ID</th>
                <td width="150px">Car Price</td>
                <td width="150px">Date</td>
                <td width="150px">Agent Name</td>
                <td width="150px">Client Name</td>
            </tr>
            @for (int i = 1; i < 6; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @{
                            int amount = i * 100;
                        }
                        @amount
                    </td>
                    <td>
                        @{
                            DateTime ss = DateTime.Now.AddDays(-1 * i);
                            string str = ss.Year + "." + ss.Month + "." + ss.Day;
                        }
                        @str
                    </td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>

            }
        </table>
    </form>

    <div align="center">
        
        <form style="border:double grey 5px;width:260px; margin-top:10px; padding-top:10px">
            <h2 align="center">Leave your review </h2>
           
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br />
            <div>Input your phone number and desribe your problem</div>
            <textarea> </textarea>
            <input type="button" value="Send" />
        </form>
    </div>
    <div class="container;" align="center">
        <h2>Contacts of Car Rent</h2>
        <div class="container" style="width:300px">
            <ul>
                <li>
                    Mail:carrent@mail.com
                </li>
                Phones:
                <li>
                    42-58-32
                </li>
                <li>
                    41-58-32
                </li>
            </ul>
        </div>
    </div>
</div>