@{
    ViewData["Title"] = "Contact information";
}
<div style="border:solid black 2px; margin-top:5px; padding-top:20px; padding-bottom:20px; ">
    <h2 align="center">@ViewData["Title"]</h2>
    <h3 align="center">@ViewData["Message"]</h3>
    <h3 align="center">@ViewData["Message"]</h3>
    <h1 align="center">Get Запрос</h1>
    <div align="center">
        <img src="~/images/8a83fa0f7ff0107d39ed92fb7a13ee55.jpg" style=" height:400px; width:650px" />
    </div>
    <h2 align="center">Our Workers:  </h2>
    <table border="2px" align="center">

        <tr><td>Director</td><td>Mukhin A. P.</td><td>+375(44)5236958</td>
        <tr><td>Mekhanik</td><td>Pugachev A.O</td><td>+375(33)4521425</td>
        <tr><td>Head of Department</td><td>Anelkin A.A.</td><td>+375(25)4523698</td>
        <tr><td>Manager</td><td>Vektor A. B.</td><td>+375(44)5247958</td>
        <tr><td>Manager</td><td>Samover N. C.</td><td>+375(44)5244598</td>

    </table>
    <div align="center" style="margin-top:20px">
        <div align="center" style="border:double grey 5px; width:400px; margin-bottom:10px; padding-bottom:40px">
            <form class="emailForm" align="center" style=" width:400px; margin-top:10px; padding-top:20px; padding-bottom:20px">

                <h2>Rent CallBack </h2>
                <input type="date" />
                <p>
                    Choose your agent
                </p>

                <select>
                    <option value="Manager">Vektor A. B.</option>
                    <option value="Director">Mukhin A. P.</option>
                    <option value="Manager">Samover N. C.</option>
                    <option value="Head of Department">Anelkin A.A.</option>
                    <option value="Mekhanik">Anelkin A.A.</option>
                </select><br />
            </form>

            <div >
                @using (Html.BeginForm("getInfo", "Home", FormMethod.Get))
                {
                    <label>Input email</label>
                    <input type="email" id="email" name="email" />
                    <input type="submit" id="sendInfo" value="Create" />
                }
            </div>
            </div>

        </div>
        <div class="container;" align="center">
            <div class="container" style="width:300px">
                <h2>Our Contacts</h2>
                <ul>
                    <li>
                        77-88-35
                    </li>
                    <li>
                        44-55-34
                    </li>
                    <li>
                        44-59-35
                    </li>
                </ul>





                <img src="~/images/call-volume-ios-7-interface-symbol_318-35379 (1).jpg" style="height:100; width:50px" />

                <address>
                    <strong>Support:</strong> <a href="mailto:CarRentSupport@example.com">CarRentSupport@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:CarRentMarketing@example.com">CarRentMarketing@example.com</a>
                </address>
            </div>
        </div>
    </div>






